name: first workflow

on: push

jobs:
    first_job:
      runs-on: ubuntu-latest
      steps:
         - name: checkout code
           uses: actions/checkout@v5

         - name: multi line commands
           run: |
               echo "welocome"
               ls 
               cat README.md