name: first workflow

on: push

jobs:
    first_job:
      runs-on: ubuntu-latest
      steps:
         - name: welocome message
           run: echo "welocome"

         - name: list files
           run: ls 
        
         - name: read file
           run: cat README.md